@font-face {
    font-family: Comic Mono;
    src: url("https://file.garden/ZrZSgsrYfQXsO7QH/fonts/ComicMono-Bold.ttf");
  }
:root{
    --darker:#edb2fa;
    --bg:#ffcbf2;
    --text:#000000;
    --accent:#6c9dff;
    --scroll:#f8f8f2;
    --font:"Comic Mono", monospace;
}
html{
    height:100%;
    width:100%;
    font-size: 18px;
}
body:before{
    background-attachment: scroll;
    content: '';
    display: block;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    transform: scale(1);
    z-index: -700;
    background-color: var(--bg);
}
body{
    color: var(--text);
    font-size:1rem;
    line-height:normal;
    font-family:var(--font);
    font-weight:400;
}
body, html {
    scrollbar-width: auto;
    scrollbar-color: var(--accent) var(--scroll);
}
::selection {
    background: var(--accent);
    color:var(--scroll)
  }
#container{
    max-width:60%;
    text-align:center;
    margin-left:auto;
    margin-right:auto
}
#sites{
    line-height: 1.4rem;
}
footer{
    padding:0rem 0rem 1.25rem;
}
hr{
    width: 100%;
    background-color:var(--accent);
    border:none;
    border-radius:5px;
    margin: 2rem 0rem;
    height:0.25rem;
}
button {
    background-color: var(--accent);
    color:var(--btn);
    cursor: pointer;
    width: max-content;
    font-size:1rem;
    font-family:var(--font);
    border:none;
    border-radius:5px;
    font-size:0.85rem;
    height:31px;
    margin: 0px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
}
button:hover{
    transition: all .2s ease-out;
    transform: scale(1.05);
}
/*text*/
p{
    text-align: start;
}
h2{
    font-weight: 500;
}
a{
    color:inherit;
    font-size:inherit;
    text-decoration:underline;
}
a:hover{
    color:var(--accent);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease
}
#github{
    text-decoration: none;
}
#github:hover{
    color:var(--text);
}
textarea{
    background-color: var(--darker);
    color: var(--text);
    font-family:var(--font);
    border: dashed 3px var(--accent);
    font-size:0.7rem;
    padding:5px;
    margin-top: 5px;
}
/*chart*/
table, th, td {
    text-align:start;
    font-family: var(--font);
    border: 1px solid var(--text);
    padding:0.5rem;
    border-collapse: collapse;
}
table{
    margin-top: 15px;
    width:95%;
}
.symbol{
    text-align: center;
}
th{
    background-color: var(--darker);
}
#center{
    display:table;
    margin-left:auto;
    margin-right:auto;
}
@media (max-width: 768px){
    html{
        font-size: 16px;
    }
    #container{
        max-width: 75%;
    }
    img{
        border-radius: 5px;
    }
}
